body{
    background-image: url("background.jpg");
    background-position: center;
}
#logo{
    text-align: center;
}
#bild{
    width: 20vw;
    margin-top: 1vw;
}
#navigation{
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-family:"Courier New";
    font-size: 2vw;
}
#links{
    width: 50%;
    text-align: center;
}

#rechts{
    width: 50%;
    text-align: center;
;
}
#navigation a {
    color: white;
    padding: .5vw;
    margin: 6vw;
    text-decoration: none;
    letter-spacing: .5vw;
}
#navigation a:hover{
    color: grey;
}
#welcome{
    font-family: "Courier New";
    color: white;
    font-size: 5vw;
    text-align: center;
    padding: .5vw;
}

#text1{
    font-family: "Courier New";
    color: white;
    font-size: 2vw;
    text-align: center;
}
#picturebox{
    background-color: black;
    margin-right: 1vw;
    margin-left: 1vw;


}